*{
    margin:0;
    padding:0
}
.nav{
    background-color: #D43B40;
}

body {
    min-height: 100vh;
}

footer {
    position: relative;
    bottom: 0;
}

.nav-link {
    color:white;
    font-size: 25px
}

.nav-link:hover{
    color: black;
}

.add-car-button {
    position: relative;
    display: inline;
    background-color: #4D67DB;
    border: 2px solid #4D67DB;
    font-size: 20px;
    top: 10px;
    left: 25px;
}

.add-link {
    color: white;
}

.add-link:hover {
    color: white;
    text-decoration: none;
}

.form-control {
    width: 20%;
}

.add-form{
    position: relative;
    left: 25px;
}

.errorlist{
    display: none;
}

.upgrade-list{
    position: relative;
    left: 60vw;
    bottom: 53vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.upgrade-list:nth-child(even){
    background-color: #E6E6E6;
}

